.card{
    width: 500px;
    height: 400px;
    background-color: black;
    position: relative;
    border-radius: 30px;
    margin-top: 20px; 
    display: flex; 
    flex-direction: column;  
    align-items: center;     
    justify-content: start;  
    padding-top: 20px; 
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin:0 auto;
    display: block;
}

body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    
}

.p1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0;
}

.p2{
    color: white;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;    
}
button:hover{
    background-color: red;
    color: white;
}