.card{
    width: 500px;
    height: 400px;
    background-color: black;
    position: relative;
    border-radius: 30px;
    margin-top: 20px;
    gap: 20px;
    

    
}
.card img{
    width: 100px;
    height: 100px;
    /* position: absolute; */
    border-radius: 50%;
    margin:0 auto;
    display: block;
    align-items: center;}

 

body{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
}
.card h2{
    color: white;
    position: absolute;
    left: 170px;
    top:110px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.p1{
    color: white;
    position: absolute;
    left: 120px;
    top:150px;
    font-family: Arial, Helvetica, sans-serif;
}

.p2{
    color: white;
    position: absolute;
    left: 160px;
    top:180px;
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    position: absolute;
    top: 220px;
    left: 190px;
    padding: 10px 20px;
    border-radius: 20px;

    background-color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;    
}
button:hover{
    background-color: red;
    color: white;
}